html, body {
    height: 100%;
}

body {
    font: 20px Old Standard TT, serif;
    line-height: 1.8;
    color: #ffb5c2;
}

p {
    font-size: 16px;
}

a {
    color: #c28e88;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-2 {
    background-color: #cea5a0;
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 20px;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    /*background-color: #c89994;*/
    background-color: #c89994;
    color: #ffffff;
}

.bg-4 {
    background-color: #000000;
    color: #ffffff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-dark{
    background-color: #000000 !important;
    /*background-color: #BC8A94 !important;*/
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: normal;
    text-align: right !important;
}

.navbar-nav li a:hover {
    color:  #c28e88 !important;
}
